{% extends "base.html" %}
{% block title %} Afficher SONS {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id
						</th>
						<th class="" >
						  Titre
						</th>
						<th class="" >
						  Artiste
						</th>
						<th class="" >
						  Album
						</th>
						<th class="" >
						  Durée
						</th>
						<th class="" >
						  Cover
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_titre_son }}
					  </th>
					  <th class="align-middle">
						{{ row.titre }}
					  </th>
					  <th class="align-middle">
						{{ row.artiste }}
					  </th>
					  <th class="align-middle">
						{{ row.album }}
					  </th>
					  <th class="align-middle">
						{{ row.duree|default("", True) }}
					  </th>
					  <th class="align-middle">
						<img class="img" src={{ row.coverlink|default(None, True) }} style="border: 0;display:block; width:150px; max-height:auto;"  alt = "image">
					  </th>
					  <th class="align-middle">
						<a class="btn btn-primary" href="{{ url_for('film_add_wtf') }}" role="button">Ajouter</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-warning" href="{{ url_for('film_update_wtf', id_film_btn_edit_html=row.id_titre_son) }}" role="button">Edit</a>
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="{{ url_for('film_delete_wtf', id_film_btn_delete_html=row.id_titre_son ) }}" role="button">Delete</a>
					  </th>
					<tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_genre_film_selected', id_film_genres_edit_html=row.id_titre_son) }}" role="button">Tags</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.GenresFilms|default("pas encore de tags..", True) }}
						</td>
					</tr>
				</tr>
			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun son
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
